.col > div {
  margin-left: 10px; /* Add margin-left to create space between logos and names */
}

.contact-info a {
  margin: 0 10px;
  color: #ffffff; /* Change to your preferred color */
}

.contact-info i {
  font-size: 24px; /* Adjust size */
  transition: color 0.3s;
}

.contact-info a:hover i {
  color: #00bcd4; /* Change to the color you want on hover */
}